/*
Project Name: Resume
Project URI: https://Jaxson.Wang
Author: 苏城一只猫
Author URI: https://iiong.com
Description: Just a HTML5 Resume
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0
*/