<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ name }}的个人简历</title>
  <meta name="description" content="{{ meta_content }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/materialize/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/fonts/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/styles.css" />
</head>
<body class="{% block body_class %}{% endblock %} blue-grey lighten-5">
  <div class="site">
    {% block main %}{% endblock %}
  </div>
<footer class="page-footer"></footer>
<script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/jquery.min.js"></script>
<script type="text/javascript" src="assets/main.min.js"></script>
</body>
</html>
