{% extends 'base.html' %}
{% block main %}
<div class="container">
    <!-- Page Layout here -->
    <div class="row">

        <div id="side-nav" class="col s12 m5 l4 primary-color">
            <div class="card portrait">
                <div class="card-image">
                    <img src="assets/images/header.jpg">
                    <div class="portrait-wrapper">
                        <h4>{{ name }}</h4>
                        <h6>{{ career }}</h6>
                    </div>
                </div>
                <div class="facts-wrapper light-text">
                    <div class="row">
                        <div class="col s1 right-align fact-icon"></div>
                        <div class="col s11 facts-content-col">
                            <h5 class="side facts-content-title"><i class="fa fa-user fa-fw"></i>关于</h5>
                            <p class="facts-about">{{about}}</p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col s1 right-align fact-icon"></div>
                        <div class="col s11 facts-content-col">
                            <h5 class="side facts-content-title"><i class="fa fa-phone-square fa-fw"></i>联系</h5>
                            <ul class="side">
                                {% if phone_num %}
                                <li><i class="fa fa-phone fa-fw"></i><a href="tel:{{phone_num}}" target="_blank">{{phone_num}}</a></li>
                                {% endif %}
                                {% if email %}
                                <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:{{email}}" target="_blank">{{email}}</a></li>
                                {% endif %}
                                {% if blog %}
                                <li><i class="fa fa-home fa-fw"></i><a href="{{blog}}" rel="nofollow" target="_blank">个人博客</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s1 right-align fact-icon"></div>
                        <div class="col s11 facts-content-col">
                            <h5 class="side"><i class="fa fa-institution fa-fw"></i>技能</h5>
                            <ul class="facts-skills-wrapper">
                                {% for item in skills %}
                                <li class="skill-item" style="transform: translateX(0px); opacity: 1;">
                                    <span class="progress-label">{{item.name}}</span>
                                    <i style="left: calc({{item.value}} - 2px);" class="progress-icon mdi-image-lens"></i>
                                    <div class="progress-bg progress">
                                        <div style="width: {{item.value}}" class="progress-fg determinate light-bg"></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--end 侧边栏-->

        <div id="main-panel" class="col s12 m7 l8">
            {% if notice %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col timeline">
                        <h4>通告</h4>
                        <p>{{notice}}</p>
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col job">
                        <h4>工作经验</h4>
                        {% for item in work_experience %}
                        <h5 class="role">{{item.start}} - {{item.end}} {{item.name}} {{item.functions}}</h5>
                        <p>{{item.des |safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col timeline">
                        <h4>项目经验</h4>
                        {% for item in project_experience %}
                        <h5 class="role">{{item.start}} - {{item.end}} {{item.name}}</h5>
                        <p>{{item.des |safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if skill_certificates %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>技能证书</h4>
                        {{skill_certificates |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if skill_software %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>软件技能</h4>
                        {{skill_software |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if self_evaluation %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>个人评价</h4>
                        {{self_evaluation |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <div class="contact-footer center-align">
                            <a href="https://iiong.com" target="_blank">iiong.com</a>
                            <a href="http://www.linkedin.com/in/mtpaiva/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="https://twitter.com/@muqueca" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="http://dribbble.com/mpaiva" target="_blank"><i class="fa fa-dribbble fa-lg"></i></a>
                            <a href="https://github.com/mpaiva/material-resume" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end 页面内容-->

    </div><!--end 页面主体-->
</div>
{% endblock %}
