{% extends 'base.html' %}
{% block main %}
<div class="container">
    <!-- Page Layout here -->
    <div class="row">
        {% include 'sidebar.html' %}<!--end 侧边栏-->
        <div id="main-panel" class="col s12 m7 l8">
            {% if notice %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col timeline">
                        <h4>通告</h4>
                        <p>{{notice}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col job">
                        <h4>工作经验</h4>
                        {% for item in work_experience %}
                        <h5 class="role">
                            <span class="center-align">{{item.start}} - {{item.end}}</span>
                            <span class="center-align">{{item.name}}</span>
                            <span class="center-align">{{item.functions}}</span>
                        </h5>
                        <p>{{item.des |safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col timeline">
                        <h4>项目经验</h4>
                        {% for item in project_experience %}
                        <h5 class="role">
                            <span class="center-align">{{item.start}} - {{item.end}}</span>
                            <span class="center-align">{{item.name}}</span>
                        </h5>
                        <p>{{item.des |safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if skill_certificates %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>技能证书</h4>
                        {{skill_certificates |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if skill_software %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>软件技能</h4>
                        {{skill_software |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if self_evaluation %}
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <h4>个人评价</h4>
                        {{self_evaluation |safe}}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="card-panel">
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <div class="contact-footer center-align">
                            <a href="https://iiong.com" target="_blank">淮城一只猫</a><br>
                            <a href="https://weibo.com/JaxsonWang" rel="nofollow" target="_blank"><i class="fa fa-weibo fa-lg"></i></a>
                            <a href="https://twitter.com/@JaxsonWang" rel="nofollow" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="https://github.com/JaxsonWang" rel="nofollow" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 facts-content-col">
                        <div class=" center-align">
                            <a data-position="top" data-tooltip="下载简历" class="btn-floating tooltipped floating-download" href="{{download}}" rel="nofollow" target="_blank"><i class="fa fa-download fa-2x fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="update right-align">
                    <span>本简历信息更新于：{{update_time}}</span>
                </div>
            </div>
        </div><!--end 页面内容-->

    </div><!--end 页面主体-->
</div>
{% endblock %}
