doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
script(type='text/javascript').
    console.log("此页面是登录后主页");