doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript',src='/javascripts/jquery-3.1.1.min.js')
    body
        block content
script(type='text/javascript').
    console.log("此页面是登录后主页");